@import url(lib/base.css);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_base\.scss}line{font-family:\000033}}
::selection {
  background: #ccc;
  background: rgba(0, 0, 0, 0.1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_base\.scss}line{font-family:\000038}}
html {
  font-family: "helvetica neue", helvetica, arial;
  background: #333333;
  background-image: url('../images/ui/noise.png?1348944670');
  background: url('../images/ui/noise.png?1348944670'), -webkit-gradient(linear, 50% 0%, 50% 500, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, #222222)) repeat-x;
  background: url('../images/ui/noise.png?1348944670'), -webkit-linear-gradient(rgba(0, 0, 0, 0.5), #222222 500px) repeat-x;
  background: url('../images/ui/noise.png?1348944670'), -moz-linear-gradient(rgba(0, 0, 0, 0.5), #222222 500px) repeat-x;
  background: url('../images/ui/noise.png?1348944670'), -o-linear-gradient(rgba(0, 0, 0, 0.5), #222222 500px) repeat-x;
  background: url('../images/ui/noise.png?1348944670'), linear-gradient(rgba(0, 0, 0, 0.5), #222222 500px) repeat-x;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_base\.scss}line{font-family:\0000316}}
body {
  background: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_base\.scss}line{font-family:\0000320}}
body, a {
  color: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_base\.scss}line{font-family:\0000324}}
a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_base\.scss}line{font-family:\0000328}}
dt, dd {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_base\.scss}line{font-family:\0000332}}
dt {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_base\.scss}line{font-family:\0000335}}
dt:after {
  content: ": ";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_base\.scss}line{font-family:\0000340}}
input:focus {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_base\.scss}line{font-family:\0000344}}
p {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_base\.scss}line{font-family:\0000347}}
p:last-of-type {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\000033}}
.chatroom {
  background: #111111 url('../images/ui/checkered.png?1345164470');
  background: url('../images/wordmark/large.png?1345164470') no-repeat center center, url('../images/ui/checkered.png?1345164470');
  height: 360px;
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 5px 10px black;
  -moz-box-shadow: inset 0 5px 10px black;
  box-shadow: inset 0 5px 10px black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\0000314}}
.chatroom .chatroom-messages {
  font-size: 14px;
  word-wrap: break-word;
  margin-top: 20px;
  height: 295px;
  overflow: auto;
  -webkit-overflow: touch;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\0000322}}
.chatroom .chatroom-messages li {
  margin: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\0000326}}
.chatroom .chatroom-messages .time {
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\0000329}}
.chatroom .chatroom-messages .time:before {
  content: "[";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\0000333}}
.chatroom .chatroom-messages .time:after {
  content: "] ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\0000338}}
.chatroom .chatroom-messages .author {
  color: #999;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\0000342}}
.chatroom .chatroom-messages .author:before {
  content: "<";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\0000346}}
.chatroom .chatroom-messages .author:after {
  content: "> ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\0000350}}
.chatroom .chatroom-messages .author.me {
  color: #ff5400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\0000356}}
.chatroom .chatroom-input {
  color: #eeeeee;
  text-indent: 6px;
  background: #2c2c2c;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  width: 100%;
  padding: 6px 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transition-property: background, border-color;
  -moz-transition-property: background, border-color;
  -o-transition-property: background, border-color;
  transition-property: background, border-color;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_chatroom\.scss}line{font-family:\0000367}}
.chatroom .chatroom-input:focus {
  background: #353535;
  border-color: rgba(255, 255, 255, 0.35);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_modal-windows\.scss}line{font-family:\000036}}
.modal-window {
  background: #333333;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_modal-windows\.scss}line{font-family:\0000315}}
.modal-window .modal-window-container {
  color: #333333;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 650px;
  margin-left: -325px;
  position: fixed;
  top: 70px;
  left: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_modal-windows\.scss}line{font-family:\0000326}}
.modal-window .modal-window-header {
  color: #eeeeee;
  font-size: 24px;
  font-weight: bold;
  background: #222;
  background: url('../images/ui/noise.png?1348944670'), #222222;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 1px solid #444;
  padding: 20px 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_modal-windows\.scss}line{font-family:\0000338}}
.modal-window .modal-window-close {
  color: #eeeeee;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  text-shadow: 0 -1px 0 black;
  background: #333333;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #737373), color-stop(100%, #1a1a1a));
  background: -webkit-linear-gradient(top, #737373, #1a1a1a);
  background: -moz-linear-gradient(top, #737373, #1a1a1a);
  background: -o-linear-gradient(top, #737373, #1a1a1a);
  background: linear-gradient(top, #737373, #1a1a1a);
  border: 0;
  border-radius: div(modal-close-size, 2);
  box-shadow: 0 0 20px color-shadow;
  height: modal-close-size;
  width: modal-close-size;
  margin: 5px 0;
  padding: 0;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_modal-windows\.scss}line{font-family:\0000357}}
.modal-window .modal-window-close:active {
  line-height: modal-close-size2;
  text-shadow: none;
  background: gray;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_modal-windows\.scss}line{font-family:\0000364}}
.modal-window .modal-window-body {
  background: #eeeeee;
  background: url('../images/ui/noise.png?1348944670'), #eeeeee;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_page-footer\.scss}line{font-family:\000033}}
#site-info {
  margin-bottom: 60px;
  margin-top: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_page-footer\.scss}line{font-family:\000038}}
#system {
  font-size: 14px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_page-footer\.scss}line{font-family:\0000312}}
#system a {
  color: #80b5ff;
  text-decoration: underline;
  text-shadow: 1px 1px 0 #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_page-footer\.scss}line{font-family:\0000319}}
#rdio {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\000033}}
#user-status {
  color: #eeeeee;
  font-size: 14px;
  text-align: right;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  position: absolute;
  top: -30px;
  width: 100%;
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\0000318}}
#user-status dt {
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\0000322}}
#user-status.ready {
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\0000327}}
#page-header {
  margin: 40px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\0000331}}
h1 {
  color: #eeeeee;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  background: url('../images/wordmark/small.png?1345164470') no-repeat 265px 5px;
  float: left;
  margin: 0;
  padding: 0 29px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\0000341}}
h1:after {
  color: #cccccc;
  content: "fiveoclocksong";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\0000346}}
h1 a {
  position: absolute;
  z-index: 2;
  color: #eeeeee;
  -webkit-mask-image: linear-gradient(#ffffff 15px, rgba(0, 0, 0, 0.1));
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\0000354}}
#primary-navigation {
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\0000360}}
#primary-navigation li {
  float: left;
  margin-left: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\0000363}}
#primary-navigation li a {
  text-shadow: 2px 2px 0 #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\0000366}}
#primary-navigation li a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_status-bar\.scss}line{font-family:\0000370}}
#primary-navigation li a:active {
  text-shadow: none;
  position: relative;
  top: 2px;
  left: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_utils\.scss}line{font-family:\000035}}
.lower {
  text-transform: lowercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_utils\.scss}line{font-family:\000039}}
.upper {
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_utils\.scss}line{font-family:\0000313}}
.embedded {
  font-weight: bold;
  text-shadow: 0 -1px 0 black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_utils\.scss}line{font-family:\0000318}}
.unselectable {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bent\/Work\/Source\/fiveoclocksong\/app\/styles\/_winner\.scss}line{font-family:\000033}}
#winner {
  width: 800px;
  padding: 50px;
}
