// site info
#site-info
  rdio-button-height = 36px
  
  margin: 30px 0
  // phone
  @media only screen and (max-width: 767px)
    display: none

  #system
    line-height: rdio-button-height
    a
      color: #80b5ff

  #rdio
    rdio-top = #4e8af2
    rdio-bottom = #1454ba
    hover-adjustment = 10%
    
    float: right
    .touch &
      display: none
    a
      background: linear-gradient(rdio-top, rdio-bottom)
      border-radius: 5px
      font-weight: bold
      height: rdio-button-height
      display: block
      line-height: rdio-button-height
      padding: 0 15px
      text-decoration: none
      text-shadow: 0 -1px 0 #000
      &:hover
        background: linear-gradient(lighten(rdio-top, hover-adjustment), lighten(rdio-bottom, hover-adjustment))
