// user status
#user-status
  background-color: rgba(0, 0, 0, 0.1)
  height: 30px
  line-height: 30px
  margin-bottom: 40px
  // phone
  @media only screen and (max-width: 767px)
    display: none
    margin-bottom: 10px
#user-status-info
  float: right
  margin: 0
  dt, dd
    display: inline
  dt
    margin-left: 25px
    &:first-child
      margin-left: 0
  dd
    margin-left: 5px
