!!!5
html
  head
    meta(charset="utf-8")
    title= "fiveoclocksong"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/lib/base.min.css")
    link(rel="stylesheet", href="/stylesheets/fiveoclocksong.css")
  body
    header#page-header
      #user-status.container
        .row
          .twentyfour.colums
      .container
        .row
          h1.twelve.colums
            a(href="/") fiveoclocksong
          nav#primary-navigation.twelve.colums
            ul
              li
                a(href="/login") login
              li
                a(href="/achievements") achievements
              li
                a(href="/about") about
              li
                a(href="/help") help
    #page-body.container!= body
    footer#page-footer
      .container
        .row
          #site-info.twentyfour.columns
          p#system
            b= "powered by: "
            a(href="http://expressjs.com/") express
            = ", "
            a(href="http://faye.jcoglan.com/") faye
            = ", "
            a(href="http://couchdb.apache.org/") couchdb
            = " and "
            a(href="http://www.rdio.com/") rdio
          p#rdio
            a.button.external(href="http://www.rdio.com/accounts/login/") login to rdio
      #chatroom.chatroom
        .container
          .row
            .chatroom-messages.twentyfour.columns
          .row
            input.chatroom-input.twentyfour.columns
      #modal-manager
    script(src="/javascripts/lib/requirejs/require.js")
    script(src="/javascripts/lib/weld.min.js")
    script(src="/javascripts/fiveoclocksong.js")
    script(src="/javascripts/lib/jquery-1.7.1.min.js")
    script(src="//" + config.server.host + ":" + config.server.port + "/" + config.messenger.mount + ".js")
