!!!
html
  head
    title= "fiveoclocksong"
    link(rel="stylesheet", href="/stylesheets/fiveoclocksong.css")
  body
    != body
    script(src="/javascripts/lib/jquery-1.7.1.min.js")
    script(src="/javascripts/lib/require-1.0.4.js")
    script(src="/javascripts/lib/weld.min.js")
    script(src="/javascripts/fiveoclocksong.js")