<article class="track row" data-key="{{key}}">
  <div class="vote-controls track-section">
    <button class="vote-control upvote active">+</button>
    <button class="vote-control downvote active">-</button>
  </div>
  <div class="playback-controls track-section show-on-desktops">
    <button class="play playback-control">Play</button>
    <button class="pause playback-control">Pause</button>
  </div>
  <div class="track-info track-section">
    <h2 class="track-name" title="song name ipsum">{{name}}</h2>
    <h3 class="track-artist" title="artist name">{{artist}}</h3>
  </div>
  <div class="vote-count track-section"></div>
</article>
