.module-track.row
  .voters.two.columns
    .vote-up
    .vote-down
  .play-pause.three.columns
  .track-info.sixteen.columns
    .track-info-name= name
    .track-info-artist= artist
  .vote-count.three.columns
