// base
::selection
  background: #ccc
  background: rgba(0,0,0,0.1)

html
  font-family: "helvetica neue", helvetica, arial
  background: color-bg-dark
  background-image: url("/images/ui/noise.png")
  background: url("/images/ui/noise.png"), -webkit-linear-gradient(rgba(0,0,0,0.5), #222 500px) repeat-x
  background: url("/images/ui/noise.png"),    -moz-linear-gradient(rgba(0,0,0,0.5), #222 500px) repeat-x
  background: url("/images/ui/noise.png"),      -o-linear-gradient(rgba(0,0,0,0.5), #222 500px) repeat-x
  background: url("/images/ui/noise.png"),         linear-gradient(rgba(0,0,0,0.5), #222 500px) repeat-x

body
  background: transparent

body, a
  color: color-text-light

a
  text-decoration: none

dt,dd
  display: inline
dt
  font-weight: bold
  &:after
    content: ": "

input:focus
  outline: none

p
  margin-top: 0
  
  &:last-of-type
    margin-bottom: 0
