// mixins

transition()
  -webkitt-ransition: arguments
  -moz-transition:    arguments
  -o-transition:      arguments
  transition:         arguments

transition-property()
  -webkit-transition-property: arguments
  -moz-transition-property:    arguments
  -o-transition-property:      arguments
  transition-property:         arguments
