// page footer

#site-info
  margin-bottom: 60px
  margin-top:    60px

#system
  font-size: 14px
  float: left
  a
    color: #80b5ff
    text-decoration: underline
    text-shadow: 1px 1px 0 #000

#rdio
  float: right
