// utilities

.lower
  text-transform: lowercase

.upper
  text-transform: uppercase

.embedded
  font-weight: bold
  text-shadow: 0 -1px 0 #000

.unselectable
  cursor: default
  -moz-user-select:    none;
  -webkit-user-select: none;
  user-select:         none;
